<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="fontawesome-free-5.12.0-web/css/all.css" />
        <link rel="stylesheet" href="css/main.css" />
        <title>About Me</title>
    </head>

    <body id="bg-img">
        <%- include ('./partials/header') %>
        <main id="about">
            <h1 class="lg-heading">
                About <span class="text-secondary">Me</span>
            </h1>
            <h2 class="sm-heading">
                Let me tell you a few thing...
            </h2>
            <div class="about-info">
                <div class="bio">
                    <h3 class="text-secondary">BIO</h3>
                    <p class="txt">
                        Hello, am Martin currently a college student. Have
                        interest in Computer Networking, Web Dev and learning
                        new things.
                    </p>
                </div>
                <!-- <div class="job" class="job-1">
                    <p>
                        //Lorem ipsum dolor sit 
                    </p
                </div> -->
            </div>
        
        <%- include ('./partials/footer') %>
        </main>

        <script src="js/main.js"></script>
    </body>
</html>
