<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="fontawesome-free-5.12.0-web/css/all.css" />
        <link rel="stylesheet" href="css/main.css" />
        <title>How to Reach Me</title>
    </head>

  <body id="bg-img">
    <%- include ('./partials/header') %>
    <main id="contact">
      <h1 class="lg-heading">Contact <span class="text-secondary">Me</span></h1>
      <h2 class="sm-heading">
        This is how you can reach me...
      </h2>
      <div class="boxes">
                <div>
                    <span class="text-secondary">Email:</span>
                    wangondumn@gmail.com
                </div>
                <div>
                    <span class="text-secondary">Phone:</span>
                    +254 713 403 290
                </div>
       </div>
    
    <%- include ('./partials/footer') %>

    </main>

    <script src="js/main.js"></script>
  </body>
</html>
