<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="fontawesome-free-5.12.0-web/css/all.css" />
        <link rel="stylesheet" href="css/main.css" />
        <title>Welcome to My Portfolio</title>
    </head>

    <body id="bg-img">
        <%- include ('./partials/header') %>
        <main id="home">
            <h1 class="lg-heading">
                Martin <span class="text-secondary">Wangondu</span>
            </h1>
            <h2 class="sm-heading">
                Web Developer, Programmer
            </h2>
            <div class="icons">
                <a href="https://twitter.com/alveen_martins?s=09">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>

                <a href="https://github.com/mine-martin">
                    <i class="fab fa-github fa-2x"></i>
                </a>

                <a href="#">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>

                
            </div>
        </main>
        <script src="js/main.js"></script>
</body>
</html>
